body {
  font-family: sans-serif;
}

#game-root {
  width: 50vw;
  margin: 0 auto;
}

.table__row {
  display: flex;
}

.table__cell {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 1px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.38);
}

.table__cell::after {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.game.end .joint {
 border-radius: 50%;
 background: radial-gradient(ellipse at center, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 36%, rgba(40, 52, 59, 1) 100%);

}

.joint {
  border-radius: 50%;

  background: radial-gradient(ellipse at center, rgba(255, 218, 181, 1) 0%, rgba(255, 123, 13, 1) 100%);

}

.fruit {
  background-color: rgb(89, 0, 255);
}

.description {
  margin-top: 1em;
}

.description .button {
  display: block;
  float: right;
}
